{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Боря</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>
    <div class="container">
        <img src="{% static 'main/me.png' %}" alt="я">
        <h1>Привет!</h1>
        <p>Меня зовут Борис Хесин. Я начинающий разработчик из Москвы</p>
        <p>В основном пишу на Python, C++ и Go, но иногда пишу на других языках, честно говоря не дружу с фронтендом</p>
        <p>В свободное время люблю играть в игры и смотреть сериалы (а еще обожаю собирать всякие пластиковые штуки)</p>
        <p>Мой <strong>
                <a href="https://github.com/shagulka">github</a>
            </strong></p>
    </div>


</body>

</html>